<h1><span class="blue">&lt;</span><i class="fa fa-usd yellow" aria-hidden="true"></i><span class="blue">&gt;</span> <span class="yellow">Tradding</pan></h1>
    <h2>Connect with us <a href="http://thietkeweb.5chau.net/" target="_blank">5 Chau Media</a></h2>
    <div class="filter-box">
        <input type="text" name="filter" id="filter" placeholder="Type for filter">
    </div>
    <div class="filter-checkbox">
        <input type="checkbox" name="sort" id="filter-checkbox">
    </div>
    <table class="container">
        <thead>
            <tr>
                <th><h1>Symbol</h1></th>
                <th><h1>Bitfinex</h1></th>
                <th><h1>Bittrex</h1></th>
                <th><h1>Binance</h1></th>
            </tr>
        </thead>
        <tbody id="trad_body">
            
        </tbody>
    </table>