<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <!-- <div class="container">
            <div class="form-group p-3 rounded-5">
              <form action="#" method="get">
                    <input type="text" class="form-control" name="symbol" aria-describedby="emailHelpId" placeholder="">
                    <input type="submit" hidden>
              </form>
            </div> -->
            <%- include(tab) %>
        <!-- </div>   -->
        <% include ./partials/script %>
    </body>
</html>
