*{
    box-sizing: border-box;
}
.trans {
    transition: all 0.5s ease-out;
}

.rounded-1 {
    border-radius: 5px;
}

.rounded-2 {
    border-radius: 10px;
}

.rounded-3 {
    border-radius: 15px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 25px;
}

.contentPost img {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    align-content: center;
    border-radius: 3%;
}
.dot{
}
.filter-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
#filter{
    height: 62px;
    width: 80%;
    font-size: 1em;
    font-weight: bold;
    margin: center;
    color: #333;
    padding-left: 3%;

}
.filter-checkbox {
    position: fixed;
    right: 50px;
   

}
#filter-checkbox{
    height: 62px;
    width: 62px;
    padding: 3%;
}