.trans {
    transition: all 0.5s ease-out;
}

.rounded-1 {
    border-radius: 5px;
}

.rounded-2 {
    border-radius: 10px;
}

.rounded-3 {
    border-radius: 15px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 25px;
}

.contentPost img {
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
    align-items: center;
    padding: 10px;
    align-content: center;
    border-radius: 3%;
}
.dot{
}
